---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_USE_MY_API_KEY>&page=1&query=hello%20dolly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/rvsPkUYhWZkAKMb2fnWHw5pNAjZ.jpg","genre_ids":[35,10751,10402,10749],"id":14030,"original_language":"en","original_title":"Hello,
        Dolly!","overview":"Dolly Levi is a strong-willed matchmaker who travels to
        Yonkers, New York in order to see the miserly \"well-known unmarried half-a-millionaire\"
        Horace Vandergelder. In doing so, she convinces his niece, his niece''s intended,
        and Horace''s two clerks to travel to New York City.","popularity":10.301,"poster_path":"/aPZOt9BR3gnk1RyX924ySq81S4P.jpg","release_date":"1969-12-12","title":"Hello,
        Dolly!","video":false,"vote_average":6.9,"vote_count":187},{"adult":false,"backdrop_path":null,"genre_ids":[16],"id":366591,"original_language":"en","original_title":"Hello,
        Dolly!","overview":"A sheep-cloning experiment takes an unexpected turn.","popularity":0.6,"poster_path":null,"release_date":"2000-07-23","title":"Hello,
        Dolly!","video":false,"vote_average":0,"vote_count":0},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":589799,"original_language":"en","original_title":"Hello
        Dolly, Goodbye Mummy. A fairy tale"[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_USE_MY_API_KEY>&page=2&query=hello%20dolly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - a0cbafef4fe1a8692506cb6f18d8652e
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":1,"total_results":5}'
  recorded_at: Wed, 09 Dec 2020 22:26:55 GMT
recorded_with: VCR 6.0.0
