---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_USE_MY_API_KEY>&page=1&query=hello
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/rvsPkUYhWZkAKMb2fnWHw5pNAjZ.jpg","genre_ids":[35,10751,10402,10749],"id":14030,"original_language":"en","original_title":"Hello,
        Dolly!","overview":"Dolly Levi is a strong-willed matchmaker who travels to
        Yonkers, New York in order to see the miserly \"well-known unmarried half-a-millionaire\"
        Horace Vandergelder. In doing so, she convinces his niece, his niece''s intended,
        and Horace''s two clerks to travel to New York City.","popularity":8.998,"poster_path":"/aPZOt9BR3gnk1RyX924ySq81S4P.jpg","release_date":"1969-12-12","title":"Hello,
        Dolly!","video":false,"vote_average":6.9,"vote_count":186},{"adult":false,"backdrop_path":"/4w7BJ1r8ovi1PAoFrpfIJYhfacm.jpg","genre_ids":[18,10402,10749],"id":446289,"original_language":"en","original_title":"Hello
        Again","overview":"Ten lost souls slip in and out of one another''s arms in
        a daisy-chained musical exploration of love''s bittersweet embrace. A film
        adaptation of Michael John LaChiusa''s celebrated musical, originally based
        on Arthur Schnitzler''s play, La Ronde.","popularity":6.3,"poster_path":"/bHHt3H[...]
[...]
