---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/550/similar?api_key=<DONT_USE_MY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 35e75e3eebffcdc5597847ae9f66c0fabd154fc7
      X-Memc-Age:
      - '11606'
      X-Memc-Expires:
      - '9994'
      Etag:
      - W/"b21d93cdc01ae3f99ee17d048d851c00"
      Last-Modified:
      - Thu, 10 Dec 2020 02:48:15 GMT
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"video":false,"vote_average":7.0,"overview":"After
        a disease kills 98% of America''s children, the surviving 2% develop superpowers
        and are placed in internment camps. A 16-year-old girl escapes her camp and
        joins a group of other teens on the run from the government.","release_date":"2018-07-25","adult":false,"backdrop_path":"/5BxrMNGl3YDiWgHCVJu8iLQoJDM.jpg","vote_count":1908,"genre_ids":[878,28,18,10749,12,53],"title":"The
        Darkest Minds","original_language":"en","original_title":"The Darkest Minds","poster_path":"/94RaS52zmsqaiAe1TG20pdbJCZr.jpg","id":445651,"popularity":42.554},{"video":false,"id":10437,"overview":"A
        retelling of the classic Dickens tale of Ebenezer Scrooge, miser extraordinaire.
        He is held accountable for his dastardly ways during night-time visitations
        by the Ghosts of Christmas Past, Present, and future.","release_date":"1992-12-10","adult":false,"backdrop_path":"/fJQO9YzdufR8QbEOD1sWIHcgyKA.jpg","vote_count":555,"genre_ids":[10402,35,10751,14,18],"vote_average":7.4,"original_language":"en","original_title":"The
     [...]
