---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/550/recommendations?api_key=<DONT_USE_MY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 34592fca08c39ff16a4a21791e275d40b699b36b
      X-Memc-Age:
      - '11970'
      X-Memc-Expires:
      - '9630'
      Etag:
      - W/"b04eff9e7248f9ef255aba1c3b5dae3f"
      Last-Modified:
      - Thu, 10 Dec 2020 02:42:48 GMT
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"id":807,"vote_average":8.3,"overview":"Two homicide
        detectives are on a desperate hunt for a serial killer whose crimes are based
        on the \"seven deadly sins\" in this dark and haunting film that takes viewers
        from the tortured remains of one victim to the next. The seasoned Det. Sommerset
        researches each sin in an effort to get inside the killer''s mind, while his
        novice partner, Mills, scoffs at his efforts to unravel the case.","release_date":"1995-09-22","title":"Se7en","adult":false,"backdrop_path":"/i5H7zusQGsysGQ8i6P361Vnr0n2.jpg","vote_count":14211,"genre_ids":[80,9648,53],"video":false,"original_language":"en","original_title":"Se7en","poster_path":"/6yoghtyTpznpBik8EngEmJskVUO.jpg","popularity":36.791},{"original_title":"Pulp
        Fiction","poster_path":"/dRZpdpKLgN9nk57zggJCs1TjJb4.jpg","video":false,"vote_average":8.5,"overview":"A
        burger-loving hit man, his philosophical partner, a drug-addled gangster''s
        moll and a washed-up boxer converge in this sprawling, comedic crime caper.
        Their adventures unfurl in three stories that ingeniously trip back and forth
        in time.","release_date":"1994-09-10","id":680,"adult":false,"backdrop_path":"/w7RDIgQM6bLT7J[...]
