---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_USE_MY_API_KEY>&page=1&query=Fight%20Club
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/rr7E0NoGKxvbkb89eR1GwfoYjpA.jpg","genre_ids":[18],"id":550,"original_language":"en","original_title":"Fight
        Club","overview":"A ticking-time-bomb insomniac and a slippery soap salesman
        channel primal male aggression into a shocking new form of therapy. Their
        concept catches on, with underground \"fight clubs\" forming in every town,
        until an eccentric gets in the way and ignites an out-of-control spiral toward
        oblivion.","popularity":38.272,"poster_path":"/bptfVGEQuv6vDTIMVCHjJ9Dz8PX.jpg","release_date":"1999-10-15","title":"Fight
        Club","video":false,"vote_average":8.4,"vote_count":20565},{"adult":false,"backdrop_path":null,"genre_ids":[28,14],"id":722482,"original_language":"en","original_title":"Superhero
        Fight Club 2.0","overview":"","popularity":3.707,"poster_path":"/j2cA1s0OLvSVVbqqHk1a7aZotCy.jpg","release_date":"2016-09-29","title":"Superhero
        Fight Club 2.0","video":false,"vote_average":7,"vote_count":4},{"adult":false,"backdrop_path":"/u0a4CSy73GP11wVPz8hm0tHQwci.jpg","genre_ids":[28,878],"id":466848,"original_language":"en","original_title":"Superh[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_USE_MY_API_KEY>&page=2&query=Fight%20Club
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[35,18],"id":323667,"original_language":"ru","original_title":"Вставай
        и бейся","overview":"Intertwined stories from the gladiator/athletes participating
        to the Calcio Storico Fiorentino yearly championship.","popularity":0.885,"poster_path":"/rPCOC0myV3Vr7nYGMAOAOpUXgH3.jpg","release_date":"2015-06-21","title":"Florence
        Fight Club","video":false,"vote_average":0,"vote_count":0},{"adult":false,"backdrop_path":null,"genre_ids":[28,18,80],"id":219897,"original_language":"en","original_title":"Barrio
        Brawler","overview":"A martial arts instructor must enter the world of illegal
        pit fighting in order to save his family and his dojo.","popularity":0.6,"poster_path":"/8tKjqaAHnIkVYjbvf4tgefSyOZN.jpg","release_date":"2013-08-27","title":"Barrio
        Brawler","video":false,"vote_average":4,"vote_count":4}],"total_pages":2,"total_results":22}'
  recorded_at: Wed, 09 Dec 2020 22:51:11 GMT
recorded_with: VCR 6.0.0
