---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_USE_MY_API_KEY>&page=1&query=word
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/AaOtoMzqWJPSNXPRKwbvqf6MbKo.jpg","genre_ids":[53],"id":12103,"original_language":"en","original_title":"Don''t
        Say a Word","overview":"When the daughter of a psychiatrist is kidnapped,
        he''s horrified to discover that the abductors'' demand is that he break through
        to a post traumatic stress disorder suffering young woman who knows a secret..","popularity":11.969,"poster_path":"/qx3hgW9MqxsEEFjx4eSbpp1Fe2l.jpg","release_date":"2001-09-28","title":"Don''t
        Say a Word","video":false,"vote_average":6.2,"vote_count":570},{"adult":false,"backdrop_path":"/6oi6wtE5wN3WBp48bUWzcWwKpFI.jpg","genre_ids":[35,18],"id":396810,"original_language":"en","original_title":"The
        Last Word","overview":"A retired businesswoman – who tries to control everything
        around her – decides to write her own obituary. A young journalist takes up
        the task of finding out the truth, and the result is a life-altering friendship.","popularity":11.428,"poster_path":"/zvwBd0nsW5OqTs4ndEJLQY62leF.jpg","release_date":"20[...]
[...]
