/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/736x/ce/5a/73/ce5a73c6a4e7a08f069a344245dd0159.jpg");
  background-repeat: repeat-y;
  background-color: black;
  background-size: 100%;
}

main {
  width: 60%;
  background-color: white;
  padding: 20px;
  font-family: monospace;
}

footer {
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: gray;
  padding: 20px;
}

nav {
  width: 60%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: monospace;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.logging {
  align-self: flex-end;
  padding-bottom: 15px;
  padding-right: 20px;
}
