.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.friends, .viewing-parties, .movies {
  width: 40%;
  padding: 20px;
  border-width: thin;
  border-style: inset;
  border-color: black;
}
.small-button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 0.8em;
  border-radius: 6px;
  font-family: monospace;
}
