.review {
  padding: 15px;
  font-style: italic;
}

.movies-container {
  
}

.movie {
  justify-content: center;
  width: 150px;
  margin: 5px;
}

.grid-box-img {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  object-fit: contain;
  width: 100%;
  top: 0px;
}

.grid-box-title {
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: 0px;
}

.grid-box-rating {
  text-align: center;
  font-size: 12px;
  position: relative;
  height: 10%;
  bottom: 0px;
  padding-bottom: 2px;
}